<%= form_for(@technical_goods_assortment) do |f| %>
  <% if @technical_goods_assortment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technical_goods_assortment.errors.count, "error") %> prohibited this technical_goods_assortment from being saved:</h2>

      <ul>
      <% @technical_goods_assortment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ap1_id %><br>
    <%= f.collection_select :ap1_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap2_id %><br>
     <%= f.collection_select :ap2_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap3_id %><br>
     <%= f.collection_select :ap3_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap4_id %><br>
     <%= f.collection_select :ap4_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap5_id %><br>
     <%= f.collection_select :ap5_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap6_id %><br>
     <%= f.collection_select :ap6_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap7_id %><br>
     <%= f.collection_select :ap7_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :ap8_id %><br>
     <%= f.collection_select :ap8_id , ApProduct.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div style="  margin-left: 300px;
  margin-top: -384px;">
  <div class="field">
    <%= f.label :b1_id %><br>
     <%= f.collection_select :b1_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :b2_id %><br>
   <%= f.collection_select :b2_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :b3_id %><br>
    <%= f.collection_select :b3_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :b4_id %><br>
    <%= f.collection_select :b4_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :b5_id %><br>
    <%= f.collection_select :b5_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :b6_id %><br>
   <%= f.collection_select :b6_id , ApBrand.all, :id, :name , {:class => 'select_class'}%>
  </div>
  <div class="field">
    <%= f.label :lokacija %><br>
    <%= f.collection_select :location_id , Location.all, :id, :name , {:class => 'select_class'}%>
  </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Spasi" %>
  </div>
<% end %>
