<p id="notice"><%= notice %></p>

<p>
  <strong>Ap1:</strong>
  <%= @technical_goods_assortment.ap1_id %>
</p>

<p>
  <strong>Ap2:</strong>
  <%= @technical_goods_assortment.ap2_id %>
</p>

<p>
  <strong>Ap3:</strong>
  <%= @technical_goods_assortment.ap3_id %>
</p>

<p>
  <strong>Ap4:</strong>
  <%= @technical_goods_assortment.ap4_id %>
</p>

<p>
  <strong>Ap5:</strong>
  <%= @technical_goods_assortment.ap5_id %>
</p>

<p>
  <strong>Ap6:</strong>
  <%= @technical_goods_assortment.ap6_id %>
</p>

<p>
  <strong>Ap7:</strong>
  <%= @technical_goods_assortment.ap7_id %>
</p>

<p>
  <strong>Ap8:</strong>
  <%= @technical_goods_assortment.ap8_id %>
</p>

<p>
  <strong>B1:</strong>
  <%= @technical_goods_assortment.b1_id %>
</p>

<p>
  <strong>B2:</strong>
  <%= @technical_goods_assortment.b2_id %>
</p>

<p>
  <strong>B3:</strong>
  <%= @technical_goods_assortment.b3_id %>
</p>

<p>
  <strong>B4:</strong>
  <%= @technical_goods_assortment.b4_id %>
</p>

<p>
  <strong>B5:</strong>
  <%= @technical_goods_assortment.b5_id %>
</p>

<p>
  <strong>B6:</strong>
  <%= @technical_goods_assortment.b6_id %>
</p>

<p>
  <strong>Location id:</strong>
  <%= @technical_goods_assortment.location_id %>
</p>
<%= link_to 'Edit', edit_technical_goods_assortment_path(@technical_goods_assortment) %> |
<%= link_to 'Back', technical_goods_assortments_path %>
