
<!--<div class="col-md-12">
<div class="col-md-6">
<%#= link_to "Dodaj novu lokaciju" , new_location_path %> <br>
<%#= link_to "Dodaj novi brand" , new_ap_brand_path %><br>
<%#= link_to "Dodaj novu tehnicku robu" , new_ap_product_path %><br>
<%#= link_to "Dodaj novi primarni asortiman za lokaciju" , new_locations_assortment_path %><br>
<%#= link_to "Dodaj novo sjediste" , new_place_path %><br>
<%#= link_to "Dodaj novi primarni asortiman" , new_primary_assortment_path %><br>
<%#= link_to "Dodaj novu regiju" , new_region_path %><br>
<%#= link_to "Dodaj novi asortiman u okviru tehnicke robe" , new_technical_goods_assortment_path %><br>
<%#= link_to "Dodaj novog komercijalistu" , new_sales_specialist_path %><br>
</div>
<div class="col-md-6">

</div>
</div>
-->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="tooltip"  data-placement="right" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Dobrodosli na admin panel</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><%= link_to "Dodaj novu lokaciju" , new_location_path , :class => 'linkic'%></li>
      <li><%= link_to "Dodaj novi brand" , new_ap_brand_path , :class => 'linkic'%></li>
			<li><%= link_to "Dodaj novu tehnicku robu" , new_ap_product_path , :class => 'linkic' %></li>
			<li><%= link_to "Dodaj novi primarni asortiman za lokaciju" , new_locations_assortment_path , :class => 'linkic'%></li>
			<li><%= link_to "Dodaj novo sjediste" , new_place_path, :class => 'linkic' %></li>
			<li><%= link_to "Dodaj novi primarni asortiman" , new_primary_assortment_path, :class => 'linkic' %></li>
			<li><%= link_to "Dodaj novu regiju" , new_region_path , :class => 'linkic'%></li>
			<li><%= link_to "Dodaj novi asortiman u okviru tehnicke robe" , new_technical_goods_assortment_path, :class => 'linkic' %></li>
			<li><%= link_to "Dodaj novog komercijalistu" , new_sales_specialist_path , :class => 'linkic'%></li>
				            </ul>
				            <%= link_to "Idi na mapu",locations_path , :class => 'linkic' %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
